42sh
*.o
.vscode
lib/libmy.a

# Tests:
tester
my_segfault
tests
invalid_bin
binaire-mac
a.out
*libmy.a
.history
coding-style-reports.log
test_div_zero_with_core.sh
test_divzero_no_core.sh
divzero
divzero.c
